@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/** VARIÃVEIS **/
:root {
    /* Branco */
    --color-white: #ffffff;

    /* Laranja */
    --color-orange: #ff5600;
}
  
/** GERAL **/
  * {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** CALCULADORA **/
  body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  #display {
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    background-color: #eee;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }

  .buttons > #zero {
    display: grid;
    grid-column: 1/4;
 }

  #calculate {
    color: var(--color-white);
    background-color: var(--color-orange);
 }

  #calculate:hover {
    opacity: 0.8;
 }

  #calculate:active {
    opacity: 0.6;
 }
  